<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit project Details</title>

</head>
<body>
	<div>
		<form th:object="${project}" th:action="@{../projects}" method="post">
			<input type="hidden"  th:field="*{projectId}" />
			<br>
			<label>Description:</label> 
			<input type="text"  th:field="*{description}" /> <br>
			<label>Start Date:</label> 
			<input type="date"  th:field="*{startDate}" /> <br>
			<label>End Date:</label> 
			<input type="date" th:field="*{endDate}" /> <br>
			<label>Logo:</label> 
			<input type="text"  th:field="*{projectLogo}" /> 
			<br>
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>