<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>forgot Password</title>
</head>
<body>
	<div align="center">
		<form th:action="@{/employee/forgotPassword}" method="post">
			<table>
			<tr>
				<td>Employee Id : </td>
				<td><input type="text" name="employeeCode" required="required"></td>
			</tr>
			<tr>
				<td>Date Of Birth : </td>
				<td><input type="date" name="dob" required="required"></td>
			</tr>
			<tr>
				<td>New Password : </td>
				<td><input type="password" name="newPassword" required="required"></td>
			</tr>
			</table>
			<input type="submit" value="SAVE">
		</form>
	</div>
</body>
</html>