<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
</head>
<body>
	<div class="container">
    <div th:if="${not #lists.isEmpty(employee)}">
        <h2>All Employee</h2>
        <table class="table table-striped">
            <tr>
                <th>Emp Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Primary Contact</th>
                <th>Secondary Contact</th>
                <th>Email Id</th>
                <th>Skype Id</th>
                <th>Update Job Details</th>
            </tr>
            <tr th:each="employee : ${employee}">
                <td align="center" th:text="${employee.employeeCode}">Emp Id</td>
                <td align="center" th:text="${employee.firstName}">First Name</td>
                <td align="center" th:text="${employee.lastName}">Last Name</td>
                <td align="center" th:text="${employee.dob}">Date Of Birth</td>
                <td align="center" th:text="${employee.gender}">Gender</td>
                <td align="center" th:text="${employee.primaryContactNumber}">Primary Contact</td>
                <td align="center" th:text="${employee.secondaryContactNumber}">Primary Contact</td>
                <td align="center" th:text="${employee.emailId}">Email Id</td>
                <td align="center" th:text="${employee.skypeId}">Skype Id</td>
                <td align="center"><a th:href="@{'../admin/updateJobDetails?employeeCode=' +${employee.employeeCode}}">Update</a></td>
            </tr>
        </table>
    </div>
    <div>
    	<a th:href="@{../admin/employee/add}">Add new Employee</a><br/>
    </div>
</div>
</body>
</html>