<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>projects</title>
    
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(projects)}">
        <h2>All projects</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Logo</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}">Id</td>
                <td th:text="${project.description}">Description</td>
                <td th:text="${project.startDate}">Start Date</td>
                <td th:text="${project.endDate}">End Date</td>
                <td th:text="${project.projectLogo}">logo</td>
                <td><a th:href="@{'../admin/projects/edit?id=' + ${project.id}}" class="btn btn-default">Edit</a></td>
                <td><a th:href="@{'../admin/projects/delete?id=' +${project.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
    <a th:href="@{../admin/projects/add}">Add a Project </a><br/>
</div>
</body>
</html>